[html]
page_title = Change your password on example.org

[ldap:0]
force_auth = true
host = localhost
port = 636
use_ssl = true
base = ou=People,dc=example,dc=org
search_filter = uid={uid}

# Uncomment for AD / Samba 4
#type = ad
#ad_domain = ad.example.org
#search_filter = sAMAccountName={uid}

# You may specify multiple LDAPs, the password will be changed in all.
# If one fails, the previous password changes are reverted.
#[ldap:1]
#host = localhost
#base = ou=People,dc=example,dc=org
#search_filter = uid={uid}

[server]
server = auto
host = localhost
port = 8080

# Configuration for password reset functionality
# "secret_key" is used to generate random url's for password reset requests
# "admin_user" and "admin_pass" represents the user credentials used to do the password reset. Furthermore, if you set "force_auth = true" inside the [ldap:*] section, "admin_user" and "admin_pass" are used to lookup the full DN
# "mail_relay" is the relay used to send password reset emails
# "mail_sender" email address used inside the "from" field for the password reset email
# "mail_subject" email subject used for the password reset email
#[app]
#secret_key = kc32r&qnpj6_!^vp5$pq35buom!54%f&_6zk8p$3yrgf8nvlgx
#admin_user = cn=admin_user,ou=admin,ou=People,dc=example,dc=org
#admin_pass = secret_admin_password
#mail_relay = mail.example.org
#mail_sender = no-reply@example.org
#mail_subject = Password reset request
